<h2>My heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}" >
            <span class="badge">{{ hero.id }}</span> {{hero.name}}
        </a>
        <button type="button" class="delete" title="delete hero"
        (click)="delete(hero)">x</button>
        <!-- <button [class.selected]="hero=== selectedHero" type="button" (click) ="onSelect(hero)">
            <span class="badge">{{ hero.id}}</span>
            <span class="name">{{ hero.name}}</span>
        </button> -->

    </li>
</ul>

<h1>Add new Hero</h1>
<div>
    <label for="new_hero">Hero name:</label>
    <input id="new-hero" #heroName>
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(heroName.value);
        heroName.value=''">
        Add Hero
    </button>
</div>
<!-- <div *ngIf="selectedHero">
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div>id : {{ selectedHero.id }}</div>
    <div>
        <label for="hero-name">Hero name:</label>
        <input id="hero-name" [(ngModel)] ="selectedHero.name">
    </div>
</div>
<app-hero-detail [hero]="selectedHero"></app-hero-detail> -->